eth_rpc_url=https://testnet.hashio.io/api
hedera_evm_id=54d9e1e2...example
hedera_id=0.0.2
location={"lat":2.1574851,"lon":101.7108034,"alt":0.000000}
mirror_api_url=https://testnet.mirrornode.hedera.com/api/v1
private_key=23be04ef...example
smart_contract_address=0x87e2fc64dc1eae07300c2fc50d6700549e1632ca

list_of_sellers=0263f5b4...example

